# ==============================
# IntelliJ IDEA
# ==============================

.idea/
*.iml

# ==============================
# Build Directories
# ==============================

out/
target/
build/

# ==============================
# Compiled Java Files
# ==============================

*.class

# ==============================
# Log Files
# ==============================

*.log

# ==============================
# Package Files
# ==============================

*.jar
*.war
*.ear

# ==============================
# Operating System Files
# ==============================

.DS_Store
Thumbs.db